.editors-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  height: 100%;
}

.react-codemirror2.editor{
  height: 100%;
}

.CodeMirror {
  height: 100% !important;
}

.main-wrapper-editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.results-container{
  height: 100%;
}

.editor-container {
  height: 100%;
}

.div-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
