.editors-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
  height: 100%;
}

.react-codemirror2.editor{
  height: 100%;
}

.CodeMirror {
  height: 100% !important;
}

.main-wrapper-editor {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.results-container{
  height: 100%;
  background: white;
}

.editor-container {
  height: 100%;
}

.editor-title {
  padding-left: 10px;
}

.div-absolute {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.view-button {
  position: absolute;
  top: -47px;
  right: 200px;

  width: 36px;
  height: 36px;

  cursor: pointer;
  transition: all 0.3s ease;

  &.rotate {
    transform: rotate(-90deg);
  }

  @media screen and (max-width: 700px) {
    width: 28px;
    height: 28px;
    top: -43px;
    right: 124px;
  }

  &:hover {
    filter: brightness(0.5);
  }
}
